*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.titleIcon
{
    margin-top: 20px;
    display: flex;
    position: absolute;
    top: 0%;
}
.fingerAnimation
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    min-height: 100px;
    background: #111;
}
.scan 
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scan .fingerprint
{
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 120px;
    background: url(/icon/fingerPrint_01.png);
    background-size: 100px;
}
.scan .fingerprint::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/icon/fingerPrint_02.png);
    background-size: 100px;
    animation: animete 5s ease-in-out;
}
@keyframes animate 
{
    0%, 100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}
.scan .fingerprint::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff2828;
    border-radius: 8px;
    filter: drop-shadow(0 0 15px #ff2828) drop-shadow(0 0 45px #ff2828);
    animation: animete_line 5s ease-in-out infinite;
}
@keyframes animete_line
{
    0%, 100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}
.scan h3 
{
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #ff2828;
    filter: drop-shadow(0 0 15px #ff2828) drop-shadow(0 0 50px #ff2828);
    animation:  animate_text 0.5s steps(1) infinite;
    text-align: center;
}
@keyframes animate_text 
{
    0%, 100%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
}